<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [5]:
# create empty list, name it 'a'
a = []

In [6]:
# print the value of a
print(a)

[]

In [7]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [8]:
# prompt: Create a list , languages = ['R','Python', 'SAS', 'Scala', 42]

languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [9]:
# prompt: Print the number of elements in the list

print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [10]:
languages = ['R','Python', 'SAS', 'Scala', 42]

for item in languages:
  print(item)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [11]:
languages = ['R','Python', 'SAS', 'Scala', 42]
temp = languages[1]

Print the value of temp and type(temp)

In [12]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [13]:
languages.append('Java')

Remove the element 42 from the list and print the list

In [14]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [15]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [16]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [17]:
colors = ['Red', 'Blue', 'White']
colors.append('Black')
colors.insert(1, 'Orange')
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [18]:
a = []
print(a)
print(type(a))
languages = ['R','Python', 'SAS', 'Scala', 42]
print(len(languages))
languages = ['R','Python', 'SAS', 'Scala', 42]
for item in languages:
  print(item)
languages = ['R','Python', 'SAS', 'Scala', 42]
temp = languages[1]
print(temp)
print(type(temp))
languages.append('Java')
languages.remove(42)
print(languages)
colors = ['Red', 'Blue', 'White']
colors.append('Black')
colors = ['Red', 'Blue', 'White']
colors.append('Black')
colors.insert(1, 'Orange')
colors

[]
<class 'list'>
5
R
Python
SAS
Scala
42
Python
<class 'str'>
['R', 'Python', 'SAS', 'Scala', 'Java']

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [19]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [20]:
colors.extend(colors2)
colors

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [21]:
colors = ['Red', 'Blue', 'White']
colors.append('Black')
colors.insert(1, 'Orange')
colors2 = ['Grey', 'Sky Blue']
colors.extend(colors2)
print(len(colors))
colors

7

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [22]:
colors.sort()
colors

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [23]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

sent_lower = sent.lower()
print(sent_lower)

sent_upper = sent.upper()
print(sent_upper)

words = sent.split()
print(words)

joined_string = ' '.join(words)
joined_string

coronavirus caused lockdowns around the world.
CORONAVIRUS CAUSED LOCKDOWNS AROUND THE WORLD.
['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [24]:
sent = 'Coronavirus Caused Lockdowns Around The World.'
words = sent.split()
words

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [25]:
words_lower = [word.lower() for word in words]
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [26]:
print('country' in words_lower)

False

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [27]:
words_lower.remove('the')
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [28]:
x4 = words_lower[:4]
x4

['coronavirus', 'caused', 'lockdowns', 'around']

In [29]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [30]:
words_lower = ['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']
joined_words = ' '.join(words_lower)
joined_words

'coronavirus caused lockdowns around the world.'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

Create a new variable, stud_grades_set = set(stud_grades)

Print stud_grades_set.

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

Add a new element ‚ÄòG‚Äô to stud_grades_set

Add element 'F' to stud_grades_set. and print it.

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

Print the elements and the length of stud_grades_set

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

Print color and fruits

Create colors_set, and fruits_set. (using set() ) and print them

Find the union of both the sets.

Find the intersection of both the sets

Find the elements which are Fruits but not colors (using set.difference() )

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [31]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [33]:
for item in temp:
    print(item)

17
Virat
50.0

replace first element with 11 in temp

In [34]:
temp[0] = 11
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [35]:
temp[0] = 11
temp

[11, 'Virat', 50.0]

Iterate through temp1 and print all the items in temp1.

In [37]:
temp1 = tuple(temp)
for item in temp1:
    print(item) # Indented this line by 4 spaces

11
Virat
50.0

replace first element with 17 in temp1

In [38]:
temp1 = (17,) + temp1[1:]
temp1

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [39]:

city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [40]:
city[0]

'Bangalore'

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [41]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [42]:
cities = (city, city2)
cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print cities

In [43]:
city = ("Bangalore", 28.9949521, 72)
city2 = ('Chennai', 30.01, 74)
cities = (city, city2)
cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [44]:
print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [45]:
city = ("Bangalore", 28.9949521, 72)
city2 = ('Chennai', 30.01, 74)
cities = (city, city2)
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [46]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}
d

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

Print the value of d[0]

In [47]:
print(d["actor"])

amir

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [48]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}
actor = d['actor']

Print the type of actor

In [49]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}
actor = d['actor']

print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [50]:
List = d['list']

Print the type of List.

In [51]:
print(type(List))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [53]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [54]:
d.update(d1)

print d

In [55]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}
d.update({'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'})
d

{'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

Print all the keys in d

In [63]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [64]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}
d.update({'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'})

for value in d.values():
    print(value)

amir
cat
2
[23, 32, 12]
Kr$na
Still here
hip-hop

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [65]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}
d.update({'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'})

for key, value in d.items():
  print(f"({key} ----> {value})")

(actor ----> amir)
(animal ----> cat)
(earth ----> 2)
(list ----> [23, 32, 12])
(singer ----> Kr$na)
(album ----> Still here)
(genre ----> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [66]:
sent = 'Coronavirus Caused Lockdowns Around The World.'
char_counts = {}
for char in sent:
    char_counts[char] = char_counts.get(char, 0) + 1
char_counts

{'C': 2,
 'o': 6,
 'r': 4,
 'n': 3,
 'a': 2,
 'v': 1,
 'i': 1,
 'u': 3,
 's': 3,
 ' ': 5,
 'e': 2,
 'd': 4,
 'L': 1,
 'c': 1,
 'k': 1,
 'w': 1,
 'A': 1,
 'T': 1,
 'h': 1,
 'W': 1,
 'l': 1,
 '.': 1}