<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Basics<br></h3>

In [ ]:
# What is your name! print your name!
# Only use one print function
print("Gangadhar V Gudimath")

Gangadhar V Gudimath

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [ ]:
# define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4
mukesh = 7
z = 6
rohan = 5
longitude = 4

In [ ]:
# print required variable
# output - 5
print(rohan)

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# **`Declaring a Variable`** <br>

In [ ]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"
ur_age = 21
ur_weight = 50.6
ur_first_name = 'Mukesh'
ur_last_name = "Manral"

# **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----|
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [ ]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(type(ur_age))
print(type(ur_weight))
print(type(ur_first_name))
print(type(ur_last_name))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(ur_age, ur_weight, ur_first_name, ur_last_name)

21 50.6 Mukesh Manral

In [ ]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh'
ur_first_name = 'Mukesh'
ur_last_name = 'Mukesh'
# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name
TrueOrFalse = ur_last_name == ur_first_name

In [ ]:
# define a variable name "x" and assign value 777 and print it
x = 777
print(x)

777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

In [ ]:
print("Myself Gangadhar V Gudimath!")

Myself Gangadhar V Gudimath!

`Operators`: Symbols that represent mathematical or logical tasks

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

In [ ]:
# Initialize variables [x,y,z,zz] with values
## x as 7 =>int ,
## y as 77 =>int,
## z as 77.7 => float,
## zz as 'Hi' => string
x = 7
y = 77
z = 77.7
zz = 'Hi'

# **`Arithmetic Operators`**

In [ ]:
# add x and z
result = x + z
print(result)

84.7

In [ ]:
# subtract z and y
subtraction_result = z - y
print(subtraction_result)

0.7000000000000028

In [ ]:
# Multiply x and z
multiplication_result = x * z
print(multiplication_result)

543.9

In [ ]:
# Exponent (raise the power or times) x times z
exponent_result = x ** z
print(exponent_result)

4.614426248242042e+65

In [ ]:
# division on x and z
division_result = x / z
print(division_result)

0.09009009009009009

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [ ]:
# floor division(ignores decimal) on x and z (gives quotient)
floor_division_result = x // z
print(floor_division_result)

0.0

In [ ]:
# Modulo(gives remainder) on x and z
modulo_result = x % z
print(modulo_result)

7.0

# **`Comparison Operators`**

In [ ]:
# comapre and see if x is less then z
# can use '<' symbol
x_less_than_z = x < z
print(x_less_than_z)

True

In [ ]:
# check the type of above comaprison where it says comapre and see if x is less then z
print(type(x_less_than_z))

<class 'bool'>

* `Bool` => takes two values, either `True` or `False`

In [ ]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
x_less_than_or_equal_to_z = x <= z
print(x_less_than_or_equal_to_z)

True

In [ ]:
# comapre and see if x equall to z
# can use '==' symbol
x_equal_to_z = x == z
print(x_equal_to_z)

False

In [ ]:
# comapre and see if x is greater than z
# can use '>' symbol
x_greater_than_z = x > z
print(x_greater_than_z)

False

In [ ]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
x_greater_than_or_equal_to_z = x >= z
print(x_greater_than_or_equal_to_z)

False

In [ ]:
# comapre and see if x is Not equall to z
# can use '!=' symbol
x_not_equal_to_z = x != z
print(x_not_equal_to_z)

True

# **`Logical Operators`**

In [ ]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and
# equall to => '=='
# logical and => and
result = (108 == 108) and (21 == 21)
print(result)
# in and both condition must be True to get a True

True

In [ ]:
# how above condition can give False as output show all those conditions
result = (108 == 108) and (21 == 21)
result = (108 != 108) and (21 == 21)  # False and True => False
result = (108 == 108) and (21 != 21)  # True and False => False
result = (108 != 108) and (21 != 21)  # False and False => False
print(result)

False

In [ ]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or
result = (108 == 108) or (21 == 11)
print(result)
# in or Only one condition need to be True to get a True

True

In [ ]:
# this is for you to understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True

# **`if`--- `else`** => to handle single condition <br>
# **`if`--- `elif`--- `else`** => to handle Multiple condition

`Observe in Python code:`
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [ ]:
# make variable with value as : money 100000
money = 100000
comparison_result = money > 2000
# see output of money > 2000
print(comparison_result)

True

In [ ]:
# assign money variable value of 10000
##### say you have this much ammount in your account

# start of if condition
# if money is greater then 1000 which is data science course free
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working

money = 10000

if money > 1000:
    print("data science course free")
else:
    print("you have less money")

data science course free

In [ ]:
# take a test_score variable with 80 in it.

# if test_score greater then 80 then print A grade
# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you
test_score = 80

if test_score > 80:
    print("A grade")
elif test_score > 60 and test_score < 80:
    print("B grade")
else:
    print("Nothing for you")

Nothing for you

# **`Python Loops`**

In [ ]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

In [ ]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# print 'I love sports' 10 times using for loop
for i in range(10):
    print("I love sports")

I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports

`10` => `stoping criteria` of, for loop

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

`!=` = not equall to => `behaves as a stoping criteria`

In [ ]:
# Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [ ]:
# while loop

# save 0 in variable number

# print till 10 using while loop

number = 0  # Initialize the variable 'number' with 0

while number <= 10:
    print(number)
    number += 1

0
1
2
3
4
5
6
7
8
9
10

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 10

# **`Type of Jump Statements`** <br>
`Break Statement`
`Continue Statement`

# **`Break Statement`**

In [ ]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
# break when num equals 5
for num in range(10):
    print("The number is", num)
    if num == 5:
        break

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5

# **`Continue Statement`**

In [1]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
# continue when num equals 5
for num in range(10):
    if num == 5:
        continue  # Skip the rest of the loop for num = 5
    print("The number is", num)

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 6
The number is 7
The number is 8
The number is 9

# **`String Manipulation`**

In [2]:
string_ = '' or "" or """ """

In [3]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"
my_string = "We are creating next generation data science eco-system at CollegeRanker"
print(my_string)  # To display the string

We are creating next generation data science eco-system at CollegeRanker

In [4]:
# Find length of string including spaces
my_string = "We are creating next generation data science eco-system at CollegeRanker"
length = len(my_string)
print(length)

72

In [5]:
# Access characters in a string with indexing i.e string[0]
my_string = "We are creating next generation data science eco-system at CollegeRanker"
first_char = my_string[0]
print(first_char)

W

In [6]:
# Access characters with negative indexing i.e string[-1]
my_string = "We are creating next generation data science eco-system at CollegeRanker"
last_char = my_string[-1]
print(last_char)

r

# String Slicing

In [7]:
# select string from first to 6th element i.e string[:6]
my_string = "We are creating next generation data science eco-system at CollegeRanker"
substring = my_string[:6]
print(substring)

We are

In [8]:
# select string from 7th to negative 10th element i.e string[7:-10]
my_string = "We are creating next generation data science eco-system at CollegeRanker"
substring = my_string[7:-10]
print(substring)

creating next generation data science eco-system at Col

Count of a particular `character` in a string

In [9]:
my_string = "We are creating next generation data science eco-system at CollegeRanker"
char_to_count = 'e'
count = my_string.lower().count(char_to_count)
print(count)

13

Count of a particular `sub-string` in a string

In [10]:
my_string = "We are creating next generation data science eco-system at CollegeRanker"
substring_to_count = "data"
count = my_string.count(substring_to_count)
print(count)

1

Find a substring in string using `find` and `index` function

In [13]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error
my_string = "Hello, world!"

index_find = my_string.find("world")
index_not_found = my_string.find("Python")

index_index = my_string.index("world")
index_not_found = my_string.find("Python")

In [14]:
### Checking whether string `startswith` or `endswith` a particular substring or not
my_string = "Hello, world!"

starts_with_hello = my_string.startswith("Hello")
print(f"Starts with 'Hello': {starts_with_hello}")

ends_with_world = my_string.endswith("world!")
print(f"Ends with 'world!': {ends_with_world}")

starts_with_python = my_string.startswith("Python")
print(f"Starts with 'Python': {starts_with_python}")

ends_with_world_without_exclamation = my_string.endswith("world")
print(f"Ends with 'world': {ends_with_world_without_exclamation}")

Starts with 'Hello': True
Ends with 'world!': True
Starts with 'Python': False
Ends with 'world': False

In [15]:
### Converting string to upper case ###
my_string = "Hello, world!"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO, WORLD!

In [16]:
### Converting only first character of string to upper case
my_string = "hello, world!"
uppercase_first_char = my_string[0].upper() + my_string[1:]
print(uppercase_first_char)

Hello, world!

In [17]:
### Checking if string is in lower case or upper case
my_string = "hello, world!"
is_lower = my_string.islower()
print(is_lower)

my_string = "HELLO, WORLD!"
is_upper = my_string.isupper()
print(is_upper)

True
True

In [18]:
### Checking if string is digit, alpabetic, alpha-numeric
my_string1 = "12345"
my_string2 = "Hello"
my_string3 = "Hello123"

is_digit1 = my_string1.isdigit()
is_digit2 = my_string2.isdigit()
is_digit3 = my_string3.isdigit()

print(f"'{my_string1}' is digit: {is_digit1}")
print(f"'{my_string2}' is digit: {is_digit2}")
print(f"'{my_string3}' is digit: {is_digit3}")

is_alpha1 = my_string1.isalpha()
is_alpha2 = my_string2.isalpha()
is_alpha3 = my_string3.isalpha()

print(f"'{my_string1}' is alphabetic: {is_alpha1}")
print(f"'{my_string2}' is alphabetic: {is_alpha2}")
print(f"'{my_string3}' is alphabetic: {is_alpha3}")


is_alnum1 = my_string1.isalnum()
is_alnum2 = my_string2.isalnum()
is_alnum3 = my_string3.isalnum()

print(f"'{my_string1}' is alphanumeric: {is_alnum1}")
print(f"'{my_string2}' is alphanumeric: {is_alnum2}")
print(f"'{my_string3}' is alphanumeric: {is_alnum3}")

'12345' is digit: True
'Hello' is digit: False
'Hello123' is digit: False
'12345' is alphabetic: False
'Hello' is alphabetic: True
'Hello123' is alphabetic: False
'12345' is alphanumeric: True
'Hello' is alphanumeric: True
'Hello123' is alphanumeric: True

In [19]:
# assign "C++ is easy to learn" to a new_str variable

new_str = "C++ is easy to learn"

In [21]:
### Replace C++ with Python
new_str = "C++ is easy to learn"
new_str = new_str.replace("C++", "Python")
new_str = new_str.replace("C++", "Python")
print(new_str)

Python is easy to learn

In [22]:
### Use Split function on new_str ###
new_str = "Python,is,easy,to,learn"
words = new_str.split(",")
print(words)

['Python', 'is', 'easy', 'to', 'learn']

# **`Python Functions`**

In [ ]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [23]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'
def welcome_message(name):
    """This function prints a welcome message."""
    print(f'Welcome to Functions, {name} !!!')

In [25]:
# call a function with your name
welcome_message("Means")

Welcome to Functions, Means !!!

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

In [26]:
# Write a function to add two number which are as 3 and 4
# in total variable store adition of 3 + 4
# print total variable
def add_numbers(num1, num2):
    """This function adds two numbers and prints the total."""
    total = num1 + num2
    print(total)

add_numbers(3, 4)

7

# ***`Positional Arguments`***
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [27]:
## Create substraction_function(small_number,large_number) and return difference between large_number and small_number
def subtraction_function(small_number, large_number):
    """This function subtracts the small number from the large number and returns the difference."""
    difference = large_number - small_number
    return difference
result = subtraction_function(3, 5)
print(result)

2

In [28]:
# pass arguments in right order
result = subtraction_function(3, 5)
print(result)  # Output: 2

2

In [29]:
# always pass arguments using there name(keyword arguments) then order does not matter
result1 = subtraction_function(small_number=3, large_number=5)
print(result1)
result2 = subtraction_function(large_number=5, small_number=3)
print(result2)

2
2

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [30]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [31]:
random_function()

'variable outside of function'

`See we can acess the data of golbal variable from Inside of the Function`

# **`=> Let's see what will happen if we try to change value of global variable from Inside of the Function`**

In [32]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [ ]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
variable outside of function